

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap"); */

@import "tailwindcss";






@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-opensans: "Open Sans", sans-serif;


  --color-primary: #6B4AB0;
  --color-attribution-link: #3e52a3;
  --color-active: #e882e8;
}